form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    ;
}

.form-group input {
    width: calc(100% - 700px);
    padding: 8px 5px;
    border: 2px solid #8EEE42;
    border-radius: 100px;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-group input:focus {
    border-color: #124E31;
}

.custom-button {
       
    padding: 10px 50px;
    font-size: 16px;
    color: #124E31;
    background: linear-gradient(to bottom, #bdf14d 0%, #e2f14d 100%);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-button:hover {
    background: #8EEE42 ;
}

.custom-button:active {
    transform: scale(0.95);
}

.custom-button:focus {
    outline: none;
}

.half-background {
    background: linear-gradient(to bottom, #fdfa74 0%, #46eaaa 100%);
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    justify-content: center;
}

.gambar{
    display: flex;
    justify-content: center;
    text-align: center;
}
